.ui-widget, .ui-widget input {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,"Nimbus Sans L",sans-serif;
}

.wrapper {
    margin: 0 auto;
    max-width: 680px;
}

.panel {
    display: none;
} 

.color1 {
  background-color: #f9f9f9;
}

#profileChart {
  margin-top: 30px;
  margin-bottom: 30px;
}

.oppProfile {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  background-color: rgba(255,255,255,0.8);
  position:absolute;
  bottom:0px;
  width: 100%;
  padding:5px;
}

.vote {
    padding:0px;
    border:0.5px solid #ffffff;
}

.oppHover:hover{
    border:1px solid #d3401e;
}

.row {
    margin:0px;
}

#vsVote {
  text-align: center;
  font-size: 25px;
}

#result01 {
  font-weight: bold;
}

.profileSeat, .profileVoter, .profileName, .profileParty {
  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
  text-align: center;
}

/*SCROLLSTORY CSS*/ 
.scroller-wrapper {
  position:relative;
}

.chart-wrapper {
  display:none;
  position: fixed;
  bottom:20px;
  left:50%;
  margin-left: -240px;
  z-index: 0;
}

.text-wrapper {
  position:relative;
  width:100%;
  text-align: center;
  padding-bottom: 1px;
  z-index: 1;
}

.trigger {
  opacity:0.1;
  width:60%;
  margin-left:40%;
  margin-bottom: 500px;
  text-align:left;
}

#errorBox {
  color:#939393;
  text-align: center;
  display:none;
}

.chart-wrapper.is-bottom {
  position:absolute;
  top: auto;
  bottom:50px;
  z-index: 2;
}

#instruct {
  width: 50%;
  z-index: 5;
  display: none;
  position: absolute;
  top:30%;
  right:1%;
  background-color: rgba(255, 255, 255, 0.9);
}

.background {
  display: inline-block;
  padding:0px 5px;
  background: #e54e42;
  /* Old browsers */
  background: linear-gradient(to left, transparent 50%, #E01518 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  transition: all 2s ease;
}

.changeBackground {
  color:white;
  background-position:left bottom;
}

.font, .font2, .font3 {
  display: inline-block;
  color: #333;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #E01518, #E01518 50%, #333 50%);
  background-size: 200% 100%;
  background-position: 100%;
}

.changeFont {
  transition: all 2s ease;
  background-position: 0%;
}

.changeFont2 {
  transition: all 1s ease-out;
  background-position: 0%;
}

.changeFont3 {
  transition: all 1s ease-in;
  background-position: 0%;
}

.noBreak {
  display: inline-block;
}